@model IEnumerable<testSigma.Models.KpiGroups>
@{
    ViewBag.Title = "Home Page";
}

<h2>Kpi_groups</h2>
<br/>

<div>
    <ul>
        @foreach (var m in Model)
        {
            <li>
                <strong>title:</strong> @m.Title <strong> (id: @m.Id)</strong> <br />
                <strong>member_title:</strong>
                <ul>
                    @for (var i = 0; i < m.MemberTitle.Count; i++)
                    {
                        <li>
                            @m.MemberTitle[i] (<strong>member_id:</strong> @m.MemberId[i])
                        </li>
                    }

                </ul>
            </li>

        }
    </ul>
</div>