@model IEnumerable<testSigma.Models.MunicipalityGroups>

@{
    ViewBag.Title = "MunicipalityGroups";
}

<h2>MunicipalityGroups</h2>
<button id="hideToggle" data-visable="true">Visa/Göm</button>
<ul>
    @foreach (var m in Model)
    {
        <li class="category">
            <strong>@m.Title</strong> @m.Id
            <ul class="sub_category">
                @for (var i = 0; i < m.Member_title.Count; i++)
                {
                    <li>
                        @m.Member_title[i] <em>(@m.Member_id[i])</em>
                    </li>
                }
            </ul>
        </li>
    }
</ul>

@section Scripts{
    <script>
        $(".category").hover(function() {
            $(this).css('cursor', 'pointer');
        });

        $(".category").on('click', function() {
            $(this).find("ul").slideToggle();
        });

        $("#hideToggle").on('click', function() {
            $(".sub_category").slideToggle();
        });
    </script>
}